# Ignora a pasta bin e obj (arquivos gerados pela compilação)
bin/
obj/

# Ignora a pasta .idea (configurações do JetBrains)
.idea/

# Ignora o arquivo appsettings.json (configurações do projeto)
appsettings.json